@inject NavigationManager NavigationManager
<nav class="navbar">
    <div class="navbar-logo">
        <img src="images/kantine-logo.png" alt="Kantine Logo">
        <span>KantineSystem</span>
    </div>
    <div class="nav-item" @onclick="NavigateToHome">
        Hjem
    </div>
</nav>






@code {
    private void NavigateToHome()
    {
        // Naviger til Home-siden
        NavigationManager.NavigateTo("/");
    }
}