
.container-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
}


.event-list {
    flex: 3; 
}


.modal-container {
    flex: 1; 
    max-width: 400px;
}


.modal-container .modal {
    position: sticky;
    top: 20px;
}
