@page "/Ingenadgang"

<div class="text-center mt-5">
    <h1>Adgang nægtet</h1>
    <p>Du har ikke adgang til denne side.</p>
    <a class="btn btn-primary mt-3" href="/">Tilbage til forsiden</a>
</div>

@code {
   
}